<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cristea Ioan - Blog - {{ post.getPostTitle() }}</title>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/blog.css') }}">
</head>
<body>

    <div class="container">

        <div class="post">
            <h3 class="post-title">{{ post.getPostTitle() }}</h3>

            <div class="post-meta">
                <span class="post-author">{{ post.getPostAuthor() }}</span>
                <span class="post-date">{{ post.getPostDate()|date('d M, Y') }}</span>
            </div>

            <div class="post-excerpt"><p>{{ post.getPostContent() }}</p></div>

            <div class="post-links">
                <a class="post-edit-link" href="{{ path('blog_edit_post', {'id': post.getId()}) }}">Edit</a>
                <a class="post-delete-link" href="{{ path('blog_delete_post', {'id': post.getId()}) }}">Sterge</a>
            </div>
        </div>

        <a class="post-btn post-back-link" style="margin-top: 40px;" href="{{ path('blog_first_page') }}">Inapoi</a>

    </div>

</body>
</html>
